{% include 'myfinzz/header.html' %}
<main class="p-5">
  <div class="container-fluid">
    <h1>Dashboard</h1>
    <h3>Welcome {{ username }}</h3>
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card border border-2 shadow rounded-3 border-primary">
          <div class="card-body">
            <h1>50</h1>
            <span class="d-block">expense categories</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card border border-2 shadow rounded-3 border-primary">
          <div class="card-body">
            <h1>50</h1>
            <span class="d-block">expense categories</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card border border-2 shadow rounded-3 border-primary">
          <div class="card-body">
            <h1>50</h1>
            <span class="d-block">expense categories</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include 'myfinzz/footer.html' %}
